body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    height: 100vh;
    background: linear-gradient(to bottom, #E0F7FA, #abecf5);
}
.network {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
#div_zurueck {
    margin-bottom: 1rem;
}